<ng-template headerContent></ng-template>
<div class="title">
    Личный кабинет
</div>

<div class="content-wrapper">

    <div class="image-wrapper">
        <img src="https://img.freepik.com/free-photo/view-3d-adorable-cat-with-fluffy-clouds_23-2151113419.jpg?t=st=1713706375~exp=1713709975~hmac=84207f4f7132dd9ef3bb0987e5a284423a3a5beb1609c06ad5a16cd87f97830c&w=740" alt="">
    </div>


    <div class="info-container">

        <div class="info-wrapper">
            <div class="info-item">
                <div class="info-title">
                    Имя:
                </div>
                <div class="info-value">
                    Пользователь 1
                </div>
            </div>
        </div>
    
        <div class="info-wrapper">
            <div class="info-item">
                <div class="info-title">
                    Почта:
                </div>
                <div class="info-value">
                    {{'test@gmail.com'}}
                </div>
            </div>
        </div>

        <div class="info-wrapper">
            <div class="info-item">
                <div class="info-title">
                    Пароль:
                </div>
                <div class="info-value">
                    **************
                </div>
            </div>
        </div>

    </div>
</div>

<div class="button-wrapper">
    <button>
        Сменить аватар
    </button>
    <button>
        Редактировать
    </button>
</div>


<ng-template footerContent [isBackButton]="false"></ng-template>