<ng-template headerContent></ng-template>
<div *ngIf="(currentUser | async) as user">
    <div class="title">
        Личный кабинет
    </div>
    
    <div class="content-wrapper">
    
        <div class="image-wrapper">
            <img [src]="user.image ?? '/assets/default-image.jpg'" alt="">
        </div>
    
    
        <div class="info-container">
    
            <div class="info-wrapper">
                <div class="info-item">
                    <div class="info-title">
                        Имя:
                    </div>
                    <div class="info-value">
                        Пользователь 1
                    </div>
                </div>
            </div>
        
            <div class="info-wrapper">
                <div class="info-item">
                    <div class="info-title">
                        Почта:
                    </div>
                    <div class="info-value">
                        {{'test@gmail.com'}}
                    </div>
                </div>
            </div>
    
            <div class="info-wrapper">
                <div class="info-item">
                    <div class="info-title">
                        Пароль:
                    </div>
                    <div class="info-value">
                        **************
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    
    <div class="button-wrapper">
        <button>
            Сменить аватар
        </button>
        <button (click)="onRedactorMode()">
            Редактировать
        </button>
    </div>
</div>
<!-- <ng-template footerContent [isBackButton]="false"></ng-template> -->