.alert {

    position: absolute;
    right: 20px;
    bottom: 20px;

    width: 250px;
    height: 70px;

    padding: 10px;

    border-radius: 5px;

    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2078431373);
    z-index: 1000;
    
    .title {
        letter-spacing: 1px;
    }

}

.error {
    background: #962d21;
    .title {
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
    }
    .content-text {
        color: #ffffff;
        font-size: 12px;
        margin-top: 2px;
    }
}

.success {
    background: #399423;
    color: #ffffff;
    .title {
        font-size: 16px;
        font-weight: 700;
    }
    .content-text {
        font-size: 12px;
        margin-top: 2px;
    }
}