<ng-template headerContent></ng-template>


<div class="viewer-wrapper">
    <button class="add-video-popup" (click)="openAddVideoPopup()">
        +
    </button>
    <div class="add-video-subtitle">
        Добавить видео
    </div>
</div>

<div class="persons-wrapper">
    <div class="person-wrapper" *ngFor="let user of (usersInRoom | async)">

        <div class="person-image">
            <img src="assets/default-images/default-image.jpg" alt="Image">
        </div>

        <div class="person-text">
            {{user?.name ?? 'unknown'}}
        </div>

    </div>

    <div class="add-more-persons">
        <button (click)="openAddUserPopup()" class="add-more-person-popup">
            +
        </button>
        <div class="add-more-person-subtitle">
            Добавить
        </div>
    </div>

</div>