<ng-template headerContent></ng-template>

<ng-container *ngIf="!(isLoadingSubject | async); else loader">
    <div class="viewer-wrapper" *ngIf="!(videoData | async)">
        <button class="add-video-popup" (click)="openAddVideoPopup()">
            +
        </button>
        <div class="add-video-subtitle">
            Добавить видео
        </div>
    </div>
</ng-container>

<div class="viewer-wrapper" *ngIf="(videoData | async)">
    <video #videoPlayer (pause)="playerController($event)" (play)="playerController($event)" controls="false">
        <source [src]="(videoData | async)" type="video/mp4">
    </video>
</div>

<div class="persons-wrapper">
    <div class="person-wrapper" *ngFor="let user of (usersInRoom | async)">

        <div class="person-image">
            <img [src]="user?.image ?? 'assets/default-images/default-image.jpg'" alt="Image">
        </div>

        <div class="person-text">
            {{user?.name ?? 'unknown'}}
        </div>

    </div>

    <div class="add-more-persons">
        <button (click)="openAddUserPopup()" class="add-more-person-popup">
            +
        </button>
        <div class="add-more-person-subtitle">
            Добавить
        </div>
    </div>

</div>

<ng-template #loader>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" width="200" height="200" style="shape-rendering: auto; display: block" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g>
            <path stroke-width="12" stroke="#ffffff" fill="none" d="M50 15A35 35 0 1 0 74.74873734152916 25.251262658470843"></path>
            <path fill="#ffffff" d="M49 3L49 27L61 15L49 3"></path>
            <animateTransform keyTimes="0;1" values="0 50 50;360 50 50" dur="1.5s" repeatCount="indefinite" type="rotate" attributeName="transform"></animateTransform>
        </g>
    </svg>
</ng-template>