<div class="header-wrapper">
    <button (click)="redirectToHome()" class="title">
        OnionCaller
    </button>
    <ng-content *ngTemplateOutlet="headerService.templateRef"></ng-content>

    <div class="personal-area">
        <div class="personal-name">
            Пользователь 1
        </div>
        <button class="button-navigate" (click)="routeToPersonalArea()">
            <img [src]="(imageUser | async) ?? '/assets/default-images/default-image.jpg'" alt="">
        </button>
    </div>

</div>