<div class="header-wrapper">
    <button (click)="redirectToHome()" class="title">
        Viewer
    </button>
    <ng-content *ngTemplateOutlet="headerService.templateRef"></ng-content>

    <div class="personal-area">
        <div class="personal-name">
           {{(user | async)?.name}}
        </div>
        <button class="button-navigate" (click)="routeToPersonalArea()">
            <img [src]="(user | async)?.image ?? '/assets/default-images/default-image.jpg'" alt="">
        </button>
    </div>

</div>