:host {
    overflow: hidden;    
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    .left-wrapper {
        width: 100%;
        .login-wrapper {
            display: flex;      
            align-items: center;
            flex-direction: column;
            justify-content: center;

            .title {
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 40px;
                color: #fff;
            }

            .form-wrapper {
                display: flex;
                flex-direction: column;
                gap: 40px;
                min-width: 300px;
            }

            .button-wrapper {
                display: flex;
                width: 100%;
                justify-content: space-between;
                gap: 10px;
    
                button {
                    background: none;
                    border: none;
                    outline: none;
                    color: #fff;
                    width: 100%;
                    cursor: pointer;
                    font-weight: 600;
                }
    
                .login , .register {
                    background: #1900ff;
                    padding: 10px 20px;
                    border-radius: 12px;
                }
    
            }
        }  
    }


    .label {
        font-size: 11px;
        margin-bottom: 10px;
        color: #b6b2dc;
    }


}


